<app-default-login-layout title="Sign in and start today!" primaryBtnText="Signup Now" secondaryBtnText="Login Now"
  (submit)="submit()" (navigate)="navigate()" [disablePrimaryBtn]="!signupForm.valid">
  <form [formGroup]="signupForm">
    <app-primary-input formControlName="name" inputName="name" type="text" label="Your Name" placeholder="John Doe">
      <img src="assets/svg/email.svg" alt="Email">
    </app-primary-input>
    <app-primary-input formControlName="email" inputName="email" type="email" label="Email"
      placeholder="joaquimsilvestre@gmail.com">
      <img src="assets/svg/email.svg" alt="Email">
    </app-primary-input>
    <app-primary-input formControlName="password" inputName="password" type="password" label="Your Password"
      placeholder="Your Passowrd">
      <img src="assets/svg/cadeado.svg" alt="Password">
    </app-primary-input>
    <app-primary-input formControlName="passwordConfirm" inputName="passwordConfirm" type="password"
      label="Confirm Your Passowrd" placeholder="Your Passowrd">
      <img src="assets/svg/cadeado.svg" alt="Password">
    </app-primary-input>
  </form>
</app-default-login-layout>